{% extends 'seller_dash.html' %}

{% block content %}

<div class="row">
    {% for sales_rental in data %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ sales_rental.pic.url }}" class="card-img-top" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title">{{ sales_rental.item }}</h5>
                <p class="card-text">{{ sales_rental.description }}</p>
                <p>Type: {{ sales_rental.type }}</p>
                <p>Contact No: {{ sales_rental.contact_no }}</p>
                <p>Rate: {{ sales_rental.rate }}</p>


                <p>sellername: {{ sales_rental.user }}</p>
                {% if sales_rental.status1 == 0 %}
                    <p>Status: AVAILABLE</p>
                {% elif sales_rental.status1 == 1 %}
                    <p style="color:red">Status: OUT OF STOCK</p>
                {% endif %}
                <a type='button' href="{% url 'instock' sales_rental.id %}" class="btn btn-primary">IN STOCK</a>
                <a type='button' href="{% url 'out_of_stock' sales_rental.id %}" class="btn btn-primary">OUT OF STOCK</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
